.loginBg {
    background-color: #1B85C3 !important;
}

.profile-img {
    width: 30%;
    height: 30%;
    margin: 0 auto;
}

@media (max-width: 575.98px) {
    .login-container {
        width: 70%!important;
        background-color: white;
    }
    .form-container {
        width: 80%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .login-container {
        width: 50%!important;
        background-color: white;
    }
    .form-container {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .login-container {
        width: 45%!important;
        background-color: white;
    }
    .form-container {
        width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .login-container {
        width: 40%!important;
        background-color: white;
    }
    .form-container {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .login-container {
        width: 30%!important;
        background-color: white;
    }
    .form-container {
        width: 70%;
    }
}