.adminAdd{
    display: block;
    box-sizing: border-box;
    /* width: 80%; */
    border-radius: 4px;
    border: 1px solid black;
    /* padding: 10px 15px; */
    margin-bottom: 10px;
    font-size: 14px;
    /* margin: 0 auto; */
    height:3rem;
}