.cardHover:hover {
  box-shadow: "rgba(0, 0, 0, 0.35) 0px 5px 15px";
}
.c{
  border-radius: 1rem;
  border: 1px solid transparent;
  backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
  border-top-color:rgba(225, 225, 225, 0.5) ;
  border-left-color:rgba(225, 225, 225, 0.5) ;
  border-bottom-color:rgba(225, 225, 225, 0.1) ;
  border-right-color:rgba(225, 225, 225, 0.1) ;
  color: wheat;
}
.cb2{
  color: black;
  background:linear-gradient(to right bottom,rgba(225, 225, 225, 0.5),rgba(225, 225, 225, 0.3));
}

.im1{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  overflow: hidden;

  height: 200px;
  background-color: rgba(57, 62, 93, 0.7);
}
.image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
.im1:hover{
  opacity: 0.7;
-webkit-transform:scale(1.05);
-moz-transform:scale(1.05);
-ms-transform:scale(1.05);
-o-transform:scale(1.05);
transform:scale(1.1);
}